.banner {
  background-image: url("../../images/849A4BB5-A197-498A-A11E-60893AFB2C8F_1_201_a.jpeg");
  background-size: cover;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  height: 500px;
}
